
<p>
<b>Co-organized <a href="https://bop.felk.cvut.cz/">BOP challenges</a> on object pose estimation:</b>
<ul>
<li><a href="https://bop.felk.cvut.cz/challenges/bop-challenge-2024/">BOP 2024</a> – New CAD-free tasks and BOP-H3 datasets (HOT3D, HOPEv2, HANDAL).</li>
<li><a href="https://bop.felk.cvut.cz/challenges/bop-challenge-2023/">BOP 2023</a> – New tasks on objects unseen during training.</li>
<li><a href="https://bop.felk.cvut.cz/challenges/bop-challenge-2022/">BOP 2022</a> – New 2D detection and segmentation tasks.</li>
<li><a href="https://bop.felk.cvut.cz/challenges/bop-challenge-2020/">BOP 2020</a> – Focus on synthesis of effective training data by developing <a href="https://github.com/DLR-RM/BlenderProc/blob/master/README_BlenderProc4BOP.md">BlenderProc4BOP</a>.</li>
<li><a href="https://bop.felk.cvut.cz/challenges/bop-challenge-2019/">BOP 2019</a> – New 6D object localization task and evaluation methodology.</li>
<li><a href="https://cmp.felk.cvut.cz/sixd/challenge_2017/">SIXD 2017</a> – The first challenge on 6D object pose estimation.</li>
</ul>
</p>

<p>
<b>Co-organized R6D workshops on object pose estimation:</b>
<ul>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2024/">9th R6D workshop</a> (ECCV 2024, Milan)</li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2023/">8th R6D workshop</a> (ICCV 2023, Paris)</li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2022/">7th R6D workshop</a> (ECCV 2022, Tel-Aviv)</li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2020/">6th R6D workshop</a> (ECCV 2020, Glasgow)</li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2019/">5th R6D workshop</a> (ICCV 2019, Seoul)</li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2018/">4th R6D workshop</a> (ECCV 2018, Munich) - <a href="https://arxiv.org/pdf/1810.03758.pdf">summary</a></li>
<li><a href="http://cmp.felk.cvut.cz/sixd/workshop_2017/">3rd R6D workshop</a>&nbsp;(ICCV 2017, Venice)</li>
<li><a href="https://labicvl.github.io/R6D">2nd R6D workshop</a> (ECCV 2016, Amsterdam)</li>
<li><a href="https://labicvl.github.io/3DPose-2015.html">1st R6D workshop</a>&nbsp;(ICCV 2015, Santiago)</li>
</ul>
</p>
