<ul>
<li><b><a href="https://egovis.github.io/awards/2024_2025/">EgoVis 2024/2025 Distinguished Paper Award</a></b>, awarded paper: HOT3D from CVPR 2025</li>
<li><b><a href="https://egovis.github.io/awards/2023_2024/">EgoVis 2023/2024 Distinguished Paper Award</a></b>, awarded paper: AssemblyHands from CVPR 2023</li>
<li><b>Best Paper Award at CV4MR CVPR 2025 Workshop</b>, awarded paper: BOP Challenge 2024</li>
<li><b><a href="/assets/data/hodan_rectors_prize_for_phd_thesis_2021.pdf">Rector's prize for an outstanding PhD thesis</a></b> (2021), Czech Technical University in Prague</li>
<li><b>Dean's prize for an excellent Master's thesis</b> (2013), Brno University of Technology</li>
</ul>
