<div class="publications">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/img/hodan_phd_thesis_acknowledgement.jpg" class="">
    </div>
    <div class="col-sm-8">
      <b>Pose Estimation of Specific Rigid Objects</b><br />
      Supervisor: <a href="http://cmp.felk.cvut.cz/~matas/">Prof. Jiri Matas</a><br />
      Reviewers: <a href="https://vincentlepetit.github.io/">Prof. Vincent Lepetit</a>, <a href="https://www.acin.tuwien.ac.at/en/staff/vm/">Prof. Markus Vincze</a>, <a href="http://campar.in.tum.de/Main/SlobodanIlic">Dr. Slobodan Ilic</a><br />
      Czech Technical University in Prague, 2021<br />
      <a href="assets/data/hodan_rectors_prize_for_phd_thesis_2021.pdf">Received the Rector's Prize for an outstanding PhD thesis</a><br />
      <a class="btn" href="assets/thesis/hodan_phd_thesis.pdf">Thesis</a>
      <a class="btn" href="https://youtu.be/WAQmubEXCRM">Defense</a>
      <a class="btn" href="assets/data/hodan2021phd_defense_slides.pdf">Slides</a>
      <a class="btn" href="assets/data/hodan2021phd.bib">BibTeX</a>
    </div>
  </div>
</div>
</div>
